@{
    ViewData["Title"] = "Home";
}

<main>
	
    <div class="mainContainer">
        
        <div class="letsgo">
            <a asp-area="" asp-controller="Log" asp-action="Index">
                <div class="mainBtn" style="background-image: url('/images/go.jpg')">
                    <div class="banner">Routines</div>
                </div>
            </a>
        </div>
        
        <!--            
        <a asp-area="" asp-controller="Routine" asp-action="Index">
            <div class="mainBtn" style="background-image: url('/images/routines.jpg')">
                <div class="banner">Routines</div>
            </div>
        </a>
        -->

        <a asp-area="" asp-controller="Social" asp-action="Index">
            <div class="mainBtn" style="background-image: url('/images/social.jpg')">
                <div class="banner">Social</div>
            </div>
        </a>

        <a asp-area="" asp-controller="History" asp-action="Index">
            <div class="mainBtn" style="background-image: url('/images/stats.jpg')">
                <div class="banner">History</div>
            </div>
        </a>

        <a asp-area="" asp-controller="Settings" asp-action="Index">
            <div class="mainBtn" style="background-image: url('/images/settings.jpg')">
                <div class="banner">Settings</div>
            </div>
        </a>
    </div>
</main>