@model ASP_CRUD.Models.ViewModels.RoutineViewModel

@{
    ViewData["Title"] = "Settings";
}

<h1>@ViewData["Title"]</h1>

<p>NOT IMPLEMENTED</p>
<!-- 
<table class="editForm">
    <tr>
        <td colspan="2"><a href="">Change E-mail Address</a></td>
    </tr>
    <tr>
        <td colspan="2"><a href="">Change Password</a></td>
    </tr>
    <tr>
        <th>First Name</th>
        <td><input type="text" placeholder="Enter your first name" value="Joe"></td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td><input type="text" placeholder="Enter your first name" value="Smith"></td>
    </tr>
</table>

<div>
    <button>SAVE</button>
</div>
    -->